[user]
	email = giannis.dimoulios@gmail.com
	name = Giannis
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[alias]
	log = log --all --graph --decoreate
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
