# X server startup commands

# Switch Keyboard Layouts (English, Greek) && Swap Caps with Escape
setxkbmap -model pc105 -layout us,gr -option grp:alt_shift_toggle
setxkbmap -option caps:swapescape

# Environment Variables

#This is a comment



